<h3>Line-Us Robot Pen Drawing Arm - Node/Express Web Interface</h3>

<p>
    <a href="https://www.line-us.com/">
        <img src="/images/line-us-photo.jpg" alt="Photograph of the Line-Us Pen Robot" />
    </a>
</p>

<p>Draw a line on the canvas to have the robot draw with a pen.</p>

{{!--
<p>
    <a href="about:blank">Github source here</a>.
</p> --}}

<canvas id="myCanvas" width="308" height="666" style="background-image: url('/images/notepaper-background.png'); background-size: contain;">
</canvas>