<h3>Line-Us Robot Pen Drawing Arm - Node/Express Web Interface</h3>

<p>
    <a href="https://www.line-us.com/">
        <img src="/images/line-us-photo.jpg" alt="Photograph of the Line-Us Pen Robot" />
    </a>
</p>

<p>Draw a line on the canvas to have the robot draw with a pen.</p>

<p>
    Github source: <a href="https://github.com/jonhassall/line-us-web">https://github.com/jonhassall/line-us-web</a>
</p>

<button type="button" id="pendown" class="pencontrol">Pen Down</button>
<button type="button" id="penup" class="pencontrol">Pen Up</button>
<br />
<button type="button" id="left" class="pencontrol">Left</button>
<button type="button" id="right" class="pencontrol">Right</button>
<button type="button" id="up" class="pencontrol">Up</button>
<button type="button" id="down" class="pencontrol">Down</button>
<br />
<button type="button" id="ul" class="pencontrol">Up/Left</button>
<button type="button" id="ur" class="pencontrol">Up/Right</button>
<button type="button" id="dl" class="pencontrol">Down/Left</button>
<button type="button" id="dr" class="pencontrol">Down/Right</button>
<br />
<button type="button" id="home" class="pencontrol">Home/Center</button>
{{!-- <button type="button" id="ping" class="pencontrol">Ping</button> --}}
<br />

<canvas id="myCanvas" width="308" height="666" style="background-image: url('/images/notepaper-background.png'); background-size: contain;">
</canvas>